@font-face{
  font-family: Calling-Angels-Personal-Use;
  src: url("fonts/Calling-Angels-Personal-Use.ttf") format("truetype");
}

nav .brand-logo{
  font-weight: 300;
  padding-left: 10px;
  color: black;
  font-size: 40px;
}

nav ul a{
  font-weight: 300;
  color: black;
}

.alinhamento{
  padding-top: 100px;
}

.alinhamentoLogin{

  padding-top: 100px;
  background-color: #eeeeee;
  width: 600px;
  height: 400px;
  margin:0 auto;
  margin-top: 150px;
  border: solid;
  border-radius: 12px;
  border-color: #757575;
}

#btn{
  text-align: center;
}

.senha{
	text-align: center;
	color:  #9e9e9e;
}
nav i.material-icons{

  font-size: 25px;
}

.erros{
  background-color: #ef5350;
}